.Navbar {
  font-size: var(--font-size-sm);
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;

  width: 120rem;
  margin: 0 auto;
  padding: 4rem 0;
}

.Navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 2rem;
}

.Navbar ul li a:global(.active) {
  text-decoration: underline;
}

.Navbar ul li a {
  color: var(--color-white);
  text-transform: uppercase;
}

.Navbar ul li:last-child {
  margin-left: auto;
}

.Navbar ul li:first-child {
  margin-right: auto;
}
